body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/unsplahBg2.jpg) no-repeat center/cover;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
}
li:nth-child(1) button {
  background: transparent;
}
li:nth-child(2) button {
  background: transparent;
}
li:nth-child(3) button {
  background: transparent;
}

button {
  position: relative;
  background: rebeccapurple;
  border: transparent;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 150px;
  cursor: pointer;
  padding: 0;
  text-align: center center;
}
button img{
  width: 200px;
}